version: "3"

services:
  jenkins:
    build: jenkins
    image: ireshmm/jenkins:lts-jdk11-jsac
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock:rw
    networks:
      - ci-network
    ports:
      - "8080:8080"
    env_file:
      - .env-vars
    group_add:
      - '999'
    secrets:
      - github-app-id
      - github-app-privkey
      - generic-webhook-token
    environment:
      TZ: "Asia/Colombo"

networks:
  ci-network:
    name: ci-network
volumes:
  certbot-certs:
    external: true
    name: certbot-certs
  jenkins-data:
secrets:
  github-app-id:
    file: secrets/github-app-id
  github-app-privkey:
    file: secrets/github-app-privkey
  generic-webhook-token:
    file: secrets/generic-webhook-token